---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import "../../styles/markdown.css";
import BlogLayout from "@/layouts/blogLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("lectures");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"lectures">;

const post = Astro.props;
const { Content } = await post.render();
---

<BlogLayout
  ><article class="">
    <h1 class="text-[40px] font-semibold leading-[44px]">
      {post.data.title}
    </h1>
    <hr class="my-4 opacity-10" />
    <div class="markdown mt-10">
      <Content />
    </div>
  </article></BlogLayout
>
