---
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <h1 class="text-4xl font-semibold text-neutral-100">FAQ</h1>
  <hr class="my-4 opacity-10" />

  <div class="flex flex-col pt-4">
    <div class="mb-8">
      <h3 class="flex items-center mb-4 text-lg font-medium text-neutral-100">
        If I'm retaking the class, do I need to go to the seminars?
      </h3>
      <p class="text-neutral-400">
        Yes, you are required to attend 50% of the seminars.
      </p>
    </div>

    <div class="">
      <h3 class="flex items-center mb-4 text-lg font-medium text-neutral-100">
        Is a passing grade required at the mid-term exam?
      </h3>
      <p class="text-neutral-400">
        No, you can pass the class without passing the mid-term exam, but you
        will need to pass the final exam.
      </p>
    </div>
  </div>
</Layout>
