---
import Layout from "../layouts/pageLayout.astro";
import Link from "../components/link.astro";
import PostTitle from "../components/postTitle.astro";
import type { Frontmatter } from "./types";
---

<Layout>
  <h1 class="text-4xl font-semibold text-neutral-100">Welcome!</h1>
  <hr class="my-4 opacity-10" />
  <div class="space-y-4">
    <p>
      This is the page for the Mathematical Analysis course at the University of
      Babeș-Bolyai, Cluj-Napoca. Here you will find the course syllabus, the
      course materials, and the homework assignments.
    </p>
    <p>
      The course is taught by
      <a
        href="hhttps://math.ubbcluj.ro/~mihai.nechita/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-blue-500"
      >
        Lect. Mihai Nechita.
      </a> If you have any questions, please feel free to contact him.
    </p>
    <p>
      For more information, check out the following links:
      <ul class="list-disc list-inside">
        <li>
          <a
            href="/syllabus/"
            class="text-blue-500 hover:text-blue-700 transition-colors"
            >Schedule</a
          >
        </li>
        <li>
          <a
            href="/syllabus/"
            class="text-blue-500 hover:text-blue-700 transition-colors"
            >Syllabus</a
          >
        </li>
        <li>
          <a
            href="/syllabus/"
            class="text-blue-500 hover:text-blue-700 transition-colors">FAQ</a
          >
        </li>
        <li>
          <a
            href="/syllabus/"
            class="text-blue-500 hover:text-blue-700 transition-colors">Exams</a
          >
        </li>
        <li>
          <a
            href="/syllabus/"
            class="text-blue-500 hover:text-blue-700 transition-colors"
            >Homework Guide</a
          >
        </li>
      </ul>
    </p>
    <!-- <div class="relative -top-[10px] flex flex-col gap-8">
    {
      posts.map((item) => {
        return (
          <Link
            classList={[
              "block scale-100 py-4 hover:scale-[1.005] active:scale-100",
            ]}
            target="_self"
            href={"/" + item.frontmatter.href + "/"}
          >
            <article>
              <PostTitle
                title={item.frontmatter.title}
                date={item.frontmatter.date}
              />
              <p class="text-[13px] text-gray-700 dark:text-gray-300">
                {new Date(item.frontmatter.date).toLocaleDateString("cn", {
                  day: "2-digit",
                  month: "2-digit",
                  year: "numeric",
                })}
              </p>
              <p class="mt-1">{item.frontmatter.spoiler}</p>
            </article>
          </Link>
        );
      })
    }
  </div> -->
  </div>
</Layout>
