---
import Layout from "../layouts/pageLayout.astro";
import type { Frontmatter } from "./types";
import Chart from "../components/chart.svelte";
---

<Layout>
  <h1 class="text-4xl font-semibold text-neutral-100">Welcome!</h1>
  <hr class="my-4 opacity-10" />
  <div class="space-y-4">
    <div
      class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-amber-500"
    >
      <span class="inline-block align-middle mr-8"
        ><b class="capitalize">Attention!</b> The midterm exam is scheduled for 25.11.2024!</span
      ><button
        class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none"
        onclick="this.parentElement.style.display='none'"><span>×</span></button
      >
    </div>

    <p>
      Welcome to the Mathematical Analysis course page at Babeș-Bolyai
      University, Cluj-Napoca. Below you'll find links to the syllabus,
      schedule, homework, and more.
    </p>

    <p>
      Lecturer: <a
        href="https://math.ubbcluj.ro/~mihai.nechita/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-blue-500">Mihai Nechita</a
      >. Contact me via Teams or email with any questions.<br />
    </p>

    <p class="font-medium">
      The access code for Teams is <code
        class="px-2.5 ml-1 py-1.5 bg-neutral-800 font-bold rounded-lg"
        >7gyx85y</code
      >.
    </p>
    <p>
      Quick links:
      <ul class="list-disc list-inside">
        <li>
          <a
            href="/schedule/"
            class="text-blue-500 hover:text-blue-700 transition-colors"
            >Schedule</a
          >
        </li>
        <li>
          <a
            href="/syllabus/"
            class="text-blue-500 hover:text-blue-700 transition-colors"
            >Syllabus</a
          >
        </li>
        <li>
          <a
            href="/faq/"
            class="text-blue-500 hover:text-blue-700 transition-colors">FAQ</a
          >
        </li>
        <!-- <li>
          <a
            href="/exams/"
            class="text-blue-500 hover:text-blue-700 transition-colors">Exams</a
          >
        </li> -->
        <li>
          <a
            href="/homework/"
            class="text-blue-500 hover:text-blue-700 transition-colors"
            >Homework Guide</a
          >
        </li>
      </ul>
    </p>
    <h2 class="text-2xl font-semibold text-neutral-100">Grading Format</h2>
    <hr class="my-4 opacity-10" />
    <div class="relative overflow-x-auto rounded-lg">
      <table
        class="w-full text-sm text-left rtl:text-right text-neutral-500 dark:text-neutral-400"
      >
        <thead
          class="text-xs text-neutral-700 uppercase bg-neutral-50 dark:bg-neutral-700 dark:text-neutral-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Assessment Type</th>
            <th scope="col" class="px-6 py-3">Share (in final grade)</th>
            <th scope="col" class="px-6 py-3">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="bg-white border-b dark:bg-neutral-800 dark:border-neutral-700"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-neutral-900 whitespace-nowrap dark:text-white"
            >
              Mid-term
            </th>
            <td class="px-6 py-4">35%</td>
            <td class="px-6 py-4"
              >Covers all material taught in the first half of the semester.</td
            >
          </tr>
          <tr
            class="bg-white border-b dark:bg-neutral-800 dark:border-neutral-700"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-neutral-900 whitespace-nowrap dark:text-white"
            >
              Final Exam
            </th>
            <td class="px-6 py-4">55%</td>
            <td class="px-6 py-4"
              >Comprehensive exam covering materials from the second half of the
              semester.</td
            >
          </tr>
          <tr
            class="bg-white border-b dark:bg-neutral-800 dark:border-neutral-700"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-neutral-900 whitespace-nowrap dark:text-white"
            >
              Homework
            </th>
            <td class="px-6 py-4">5%</td>
            <td class="px-6 py-4"
              >Weekly assignments to reinforce lecture topics and further
              individual learning.</td
            >
          </tr>
          <tr
            class="bg-white border-b dark:bg-neutral-800 dark:border-neutral-700"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-neutral-900 whitespace-nowrap dark:text-white"
            >
              Seminar Activity
            </th>
            <td class="px-6 py-4">5%</td>
            <td class="px-6 py-4"
              >Engagement and participation in seminar discussions and
              activities.</td
            >
          </tr>
          <tr
            class="bg-white border-b dark:bg-neutral-800 dark:border-neutral-700"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-neutral-900 whitespace-nowrap dark:text-white"
            >
              Projects
            </th>
            <td class="px-6 py-4">15%</td>
            <td class="px-6 py-4"
              >Bonus group projects aimed at exploring real-world applications
              of course theories.</td
            >
          </tr>
        </tbody>
      </table>
    </div>

    <!-- <h2 class="text-2xl font-semibold text-neutral-100">Grade Stats</h2> -->
    <!-- <hr class="my-4 opacity-10" /> -->
    <!-- <Chart client:only /> -->
  </div>
</Layout>
