---
import Layout from "../layouts/pageLayout.astro";
import Link from "../components/link.astro";
import PostTitle from "../components/postTitle.astro";
import type { Frontmatter } from "./types";
import Chart from "../components/chart.svelte";
---

<Layout>
  <h1 class="text-4xl font-semibold text-neutral-100">Welcome!</h1>
  <hr class="my-4 opacity-10" />
  <div class="space-y-4">
    <div
      class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-amber-500"
    >
      <span class="inline-block align-middle mr-8"
        ><b class="capitalize">Attention!</b> The midterm exam is scheduled for 25.11.2024!</span
      ><button
        class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none"
        onclick="this.parentElement.style.display='none'"><span>×</span></button
      >
    </div>

    <p>
      This is the page for the Mathematical Analysis course at the Babeș-Bolyai
      University, Cluj-Napoca. Here you will find the course syllabus, the
      course materials, and the homework assignments.
    </p>
    <p>
      The course is taught by
      <a
        href="hhttps://math.ubbcluj.ro/~mihai.nechita/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-blue-500"
      >
        Lect. Mihai Nechita.
      </a> If you have any questions, please feel free to me on Teams or by email.
    </p>
    <p class="font-medium">
      The access code for Teams is <code
        class="px-2.5 ml-1 py-1.5 bg-neutral-800 font-bold rounded-lg"
        >23awpe7</code
      >.
    </p>
    <p>
      For more information, check out the following links:
      <ul class="list-disc list-inside">
        <li>
          <a
            href="/schedule/"
            class="text-blue-500 hover:text-blue-700 transition-colors"
            >Schedule</a
          >
        </li>
        <li>
          <a
            href="/syllabus/"
            class="text-blue-500 hover:text-blue-700 transition-colors"
            >Syllabus</a
          >
        </li>
        <li>
          <a
            href="/faq/"
            class="text-blue-500 hover:text-blue-700 transition-colors">FAQ</a
          >
        </li>
        <li>
          <a
            href="/exams/"
            class="text-blue-500 hover:text-blue-700 transition-colors">Exams</a
          >
        </li>
        <li>
          <a
            href="/homework/"
            class="text-blue-500 hover:text-blue-700 transition-colors"
            >Homework Guide</a
          >
        </li>
      </ul>
    </p>
    <!-- <div class="relative -top-[10px] flex flex-col gap-8">
    {
      posts.map((item) => {
        return (
          <Link
            classList={[
              "block scale-100 py-4 hover:scale-[1.005] active:scale-100",
            ]}
            target="_self"
            href={"/" + item.frontmatter.href + "/"}
          >
            <article>
              <PostTitle
                title={item.frontmatter.title}
                date={item.frontmatter.date}
              />
              <p class="text-[13px] text-gray-700 dark:text-gray-300">
                {new Date(item.frontmatter.date).toLocaleDateString("cn", {
                  day: "2-digit",
                  month: "2-digit",
                  year: "numeric",
                })}
              </p>
              <p class="mt-1">{item.frontmatter.spoiler}</p>
            </article>
          </Link>
        );
      })
    }
  </div> -->
    <hr class="my-4 opacity-10" />
    <Chart client:only />
  </div>
</Layout>
