---
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <h1 class="text-4xl font-semibold text-neutral-100">Syllabus</h1>
  <hr class="my-4 opacity-10" />

  <div class="flex flex-col space-y-24">
    <!-- Mathematical analysis in ℝ (calculus in one variable) -->
    <div class="mb-12">
      <span class="font-semibold text-neutral-100 block mb-4">
        Mathematical analysis in ℝ (calculus in one variable)
      </span>
      <ul class="list-inside list-disc space-y-4 text-neutral-500">
        <li>Real numbers</li>
        <li>Sequences</li>
        <li>Series of real numbers</li>
        <li>Functions: limits, continuity, differentiation</li>
        <li>Taylor series and power series</li>
        <li>Integration</li>
      </ul>
    </div>

    <!-- Mathematical analysis in ℝⁿ (multivariable calculus) -->
    <div class="mb-12">
      <span class="font-semibold text-neutral-100 block mb-4">
        Mathematical analysis in ℝⁿ (multivariable calculus)
      </span>
      <ul class="list-inside list-disc space-y-4 text-neutral-500">
        <li>The Euclidean space ℝⁿ</li>
        <li>Functions of several variables. Limits and continuity</li>
        <li>Partial derivatives and differentiability</li>
        <li>Extremum points for functions of several variables</li>
        <li>Applications: optimization and gradient descent</li>
        <li>Multiple integrals</li>
      </ul>
    </div>
  </div>
</Layout>
